.certificate-item {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 20px 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  overflow: hidden;
}

.certificate-item:hover {
  transform: translateY(-5px);
}

.certificate-content {
  padding: 20px;
  text-align: center;
}

.certificate-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.certificate-description {
  font-size: 16px;
  margin-bottom: 20px;
  color: #666;
  text-indent: 20px;
}

.certificate-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.rounded-button {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 20px;
  background-color: #f2f2f2;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;
}

.rounded-button:hover {
  background-color: #dcdcdc;
}
