.talk-buttons {
  display: flex;
  text-align: center;
  justify-content: center;
  /* Center the buttons horizontally */
  gap: 10px;
  /* Add some space between the buttons */
}

.rounded-button {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 20px;
  background-color: #f2f2f2;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.rounded-button:hover {
  background-color: #dcdcdc;
}

.talk-item {
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* Add border to the right */
}

.talk-description {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}

.talk-image {
  width: auto; /* Allow the width to adjust according to the image's aspect ratio */
  height: auto; /* Allow the height to adjust according to the image's aspect ratio */
  max-width: 100%; /* Set maximum width to ensure responsiveness */
  max-height: 400px; /* Set maximum height */
  margin: 0 auto; /* Center the image horizontally */
  margin-bottom: 20px;
  border-radius: 10px; /* Make the corners rounded */
}



.talks-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* Alinha os itens ao topo */
}

.talk-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.slideshow-controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  /* Centralizar horizontalmente */
}

.slideshow-controls button {
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 18px;
}

.left-button {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.right-button {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}