.toolbar {
  background-color: #ffffff;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.toolbar-left {
  display: flex;
  align-items: center;
}

.toggle-button {
  margin-left: 20px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  /* Add transition for rotation */
}

.toggle-button.open {
  transform: rotate(90deg);
  /* Rotate the icon when sidebar is open */
}

.toolbar-title {
  margin: 0;
  font-size: 20px;
  text-align: center;
  flex: 1;
  /* Allow the title to take up remaining space */
}