.toolbar {
  background-color: #ffffff;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona o efeito de sombra */
  z-index: 1000;
}

.sidebar-toggle {
  padding: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 5px;
  left: 10px;
}

.sidebar-toggle-icon {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #333;
  transition: transform 0.3s ease;
}

.sidebar-toggle-icon:before,
.sidebar-toggle-icon:after {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background-color: #333;
  transition: transform 0.3s ease;
}

.sidebar-toggle-icon:before {
  transform: translateY(-6px);
}

.sidebar-toggle-icon:after {
  transform: translateY(4px);
}

.sidebar-toggle-icon.open {
  transform: rotate(180deg);
}

.toolbar-title {
  font-size: 20px;
  margin-left: 20px;
}
