.work-experience-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff; /* Fundo claro para melhor contraste */
}

.work-experience-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.work-experience-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.company-logo {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.company-logo:hover {
  transform: scale(1.1);
}

.logo-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.experience-details {
  flex: 1;
}

.keywords-container {
  margin-top: 10px;
  color: #666;
  font-size: 0.9em;
}

.keywords-container svg {
  margin-right: 5px;
}

.work-experience-card ul {
  padding-left: 20px;
  margin-top: 10px;
}

.work-experience-card li {
  margin-bottom: 5px;
  line-height: 1.4;
}

/* Responsividade */
@media (max-width: 768px) {
  .work-experience-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .company-logo {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .work-experience-card {
    padding: 15px;
  }

  .company-logo {
    width: 60px;
    height: 60px;
  }
}