.sidebar {
    background-color: #ffffff;
    
    /* Adjust top padding to avoid overlapping with Toolbar */
    height: 100%;
    position: fixed;
    left: 0;
    top: 30px;
    width: 210px;
    /* Add shadow at the top of the sidebar */
    z-index: 1000;
    transition: width 2s ease, transform 2s ease;
    /* Adjust the transition duration as needed */
}

.sidebar.open {
    top: 60px;
    /* Adjust the top position when sidebar is open */
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidebar-link {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: #333;
    text-decoration: none;
}

.sidebar-link svg {
    margin-right: 10px;
}

.sidebar-link:hover {
    color: #555;
}