.footer {
  background-color: #ffffff;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1); /* Adiciona o efeito de sombra no limite superior */
}

.footer a {
  color: #2D2E32;
  text-decoration: none;
  font-weight: 500;
}

.footer a:hover {
  color: #368DF3;
}

.footer img {
  width: 1.5rem;
}
