/* Estilos gerais */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.events-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px; /* Espaçamento entre os cards */
}

.event-item {
  width: 100%;
  max-width: 1200px; /* Aumentar a largura máxima dos cards */
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.event-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  color: #2c3e50;
}

.event-description {
  font-size: 16px;
  color: #7f8c8d;
  text-align: justify;
  margin-bottom: 20px;
}

/* Estilos do carrossel */
.event-gallery-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.event-image {
  max-width: 100%;
  max-height: 500px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.event-image:hover {
  transform: scale(1.05);
}

.slideshow-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.slideshow-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slideshow-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.event-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.rounded-button {
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #3498db;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.rounded-button:hover {
  background-color: #2980b9;
}


/* Responsividade */
@media (max-width: 768px) {
  .event-item {
    padding: 15px;
  }

  .event-title {
    font-size: 24px;
  }

  .event-description {
    font-size: 14px;
  }

  .event-image {
    max-height: 300px; /* Ajustar altura máxima para dispositivos menores */
  }

  .slideshow-button {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
}