.project-table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
  }
  
  .project-table th,
  .project-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .project-table th {
    background-color: #f2f2f2;
  }

  .rounded-button {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: #f2f2f2;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .rounded-button:hover {
    background-color: #dcdcdc;
  }
  
  
  .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.talk-item {
  position: relative;
}

.talk-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white; /* Alterado para branco */
  color: black; /* Alterado para preto */
  padding: 10px;
  text-align: center;
}

.image-container {
  position: relative;
  text-align: center; /* Para centralizar a imagem horizontalmente */
}

.talk-image {
  max-width: 60%; /* Para garantir que a imagem não ultrapasse a largura do seu contêiner */
  height: auto;
  display: inline-block; /* Para centralizar a imagem horizontalmente */
}

.talk-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Ajuste a opacidade conforme necessário */
  color: black;
  padding: 10px;
  text-align: center;
}
