.project-table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
}

.project-table th,
.project-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.project-table th {
  background-color: #f2f2f2;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.talk-item {
  position: relative;
}

.talk-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 10px;
  text-align: center;
}

.image-container {
  position: relative;
  text-align: center;
}

.talk-image {
  max-width: 60%;
  height: auto;
  display: inline-block;
}

.button-container_ap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.slideshow-container {
  position: relative;
  max-width: 800px;
  margin: auto;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.slideshow-item {
  position: relative;
  text-align: center;
}

.slideshow-item img {
  max-width: 100%;
  max-height: 300px;
  display: block;
  margin: auto;
}

.rounded-button_2 {
  margin: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: #f2f2f2;
  color: black;
  border-radius: 5px;
}

.rounded-button_2:hover {
  background-color: #dcdcdc;
}

.rounded-button_2.active {
  background-color: #dcdcdc;
}
