.project-table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
  }
  
  .project-table th,
  .project-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .project-table th {
    background-color: #f2f2f2;
  }

  .rounded-button {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: #f2f2f2;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .rounded-button:hover {
    background-color: #dcdcdc;
  }
  
  
  